body {
    padding: 0;
    margin: 0;
}

[data-tab-content] {
    display: none;
}

.content {
    margin: 2em;
    padding: 1em;
    border: solid black;
    border-radius: 15px;
}

.active[data-tab-content] {
    display: block;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    outline: none;
    border: none;
    background: none;
    align-items: center;
    padding: 1em 0.5em 0.5em 0.5em;
    color: rgb(163, 163, 163);

}

.test:hover {
    cursor: pointer;
    color: black;
    transition: color 0.25s
}

button.active {
    border-bottom: solid black;
    color: black;
}